<%- include("partials/header.ejs")%>
<h1>About</h1>
<p><%= aboutLorem %></p>
<p>Techstack used : </p>
<ul>
    <li>Node.js</li>
    <li>Express.js</li>
    <li>EJS</li>
    <li>CSS</li>
    <li>Bootstrap</li>
</ul>
<%- include("partials/footer.ejs")%>